<ion-header [translucent]="true" class="header-color">
  <ion-toolbar class="toolbar-color">
    <ion-title><center>Informe de Ventas de</center>
    </ion-title>
    <center><img class="db" height="32" loading="lazy" src="https://i5.walmartimages.com/dfw/63fd9f59-b3e1/7a569e53-f29a-4c3d-bfaf-6f7a158bfadd/v1/walmartLogo.svg" width="130" />
    </center>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
              placeholder= 'Escriba la palabra para filtrar la busqueda'
              [(ngModel)]="searchTerm"
              showCancelButton="focus"
              animated
              class="searchbar">

  </ion-searchbar>

  <ion-item class="datos" *ngFor="let producto of productos | filter:searchTerm">
    <ion-label class="label1"> Nombre: {{producto.nombre}} </ion-label>
    <ion-label> Cod: {{producto.codigo}} </ion-label>
    <ion-label> Precio: {{producto.precio}} </ion-label>
    <ion-label> Grupo: {{producto.grupo}} </ion-label>
    <ion-label> Cantidad Vendida: {{producto.stock}} </ion-label>
    <ion-label> Sucursal: {{producto.sucursal}} </ion-label>
    <ion-label> Epoca: {{producto.epoca}} </ion-label>
    <ion-label> Tipo Usuario: {{producto.tipo_user}} </ion-label>
    <ion-label> Venta Web: {{producto.venta_web}} </ion-label>
  </ion-item>

</ion-content>
<ion-footer><center>
  <ion-button [routerLink]="['/home']">Volver al Registro de Datos
    <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
  </ion-button></center>
</ion-footer>